<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todas las Reseñas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
    <nav>
        <div class="nav-container">
            <!-- Texto a la izquierda: Biblioteca Virtual -->
            <div class="logo">Biblioteca Virtual</div>

            <!-- Menú de enlaces -->
            <ul class="links">
                <li><a href="/">Libros</a></li>
                <li><a href="/resenas">Reseñas</a></li>
				<li> <a href="/logout">Cerrar sesión</a>
            </ul>
        </div>
    </nav>

    <a href="/nuevaResena" class="button">Añadir nueva reseña</a>
	
    
    <h1>Todas las Reseñas</h1>

    <table class="tabla-libros">
        <thead>
            <tr>
                <th>Libro</th>
                <th>Usuario</th>
                <th>Estrellas</th>
                <th>Reseña</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterar sobre las reseñas para mostrar los datos -->
            <tr th:each="resena : ${resenas}">
                <td th:text="${resena.libro.titulo}">Título del libro</td>
                <td th:text="${resena.usuario.nombre}">Nombre del usuario</td>
                <td th:text="${resena.estrellas}">Estrellas</td>
                <td th:text="${resena.reseña}">Reseña</td>
                <td th:text="${#dates.format(resena.fecha, 'dd/MM/yyyy')}">Fecha</td>
            </tr>
        </tbody>
    </table>

</body>
</html>
